pre[class*='language-'] {
  width: 100%;
  font-size: 16px;
  color: var(--highContrast);
  background-color: var(--gray1) !important;
  margin: 0 auto;
  padding: var(--space1);
  border: 1px solid var(--gray3);
  border-radius: 4px;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
pre::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.token.keyword {
  color: var(--code2);
}

.token.string,
.token.boolean {
  color: var(--code1);
}

.token.punctuation {
  color: var(--code3);
}

.token.function,
.token.class-name,
.token.builtin,
.token.operator {
  color: var(--code4);
}

.token.comment {
  color: var(--code5);
}
