[cmdk-root] {
  max-width: 640px;
  width: 100%;
  background: var(--gray1);
  border-radius: 12px;
  padding: 8px 0;
  font-family: var(--font-sans);
  border: 1px solid var(--gray6);
  position: fixed;
  top: 10%;

  .dark & {
    background: var(--gray2);
    border: 0;
  }
}

[cmdk-input] {
  font-family: var(--font-sans);
  border: none;
  width: 100%;
  font-size: 15px;
  padding: 8px 16px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);

  &::placeholder {
    color: var(--gray9);
  }
}

[cmdk-item] {
  content-visibility: auto;

  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  color: var(--gray12);
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;

  &[aria-selected='true'] {
    background: var(--gray4);
    color: var(--gray12);
  }

  &:active {
    transition-property: background;
    background: var(--gray4);
  }

  &:first-child {
    margin-top: 8px;
  }

  & + [cmdk-item] {
    margin-top: 4px;
  }
}

[cmdk-list] {
  padding: 0 8px;
  height: 393px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
  padding-bottom: 40px;
}

[cmdk-separator] {
  height: 1px;
  width: 100%;
  background: var(--gray5);
  margin: 4px 0;
}

*:not([hidden]) + [cmdk-group] {
  margin-top: 8px;
}

[cmdk-group-heading] {
  user-select: none;
  font-size: 12px;
  color: var(--gray11);
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

[cmdk-empty] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
  color: var(--gray11);
}

[cmdk-dialog] {
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  [cmdk-root] {
    top: initial;
    bottom: 0;
  }
}
