.heading {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.list {
  margin-top: var(--space5);
  margin-bottom: var(--space5);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  & + .heading {
    margin-top: var(--space6);
  }
}

.list-item {
  margin-right: calc(var(--space2) * -1);
  margin-left: calc(var(--space2) * -1);
  padding-right: var(--space2);
  padding-left: var(--space2);
  border-radius: 6px;
  background: transparent;
  transition: background 150ms ease;

  & .text-container {
    border-top: 1px solid var(--grayA3);
  }

  &:first-child .text-container {
    border-top: 0;
  }
}

.content {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--space2);
}

.image-container {
  width: 56px;
  height: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 6px;
}

.glow {
  position: absolute;
  top: -0.1em;
  right: 1.15em;
  filter: blur(12px);
  opacity: 0.25;
  transform: scale(2);
}

.text-container {
  font-size: 14px;
  padding: var(--space2) 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.description {
  color: var(--gray10);
}

@media (hover: hover) {
  .list-item {
    &:hover {
      background-color: var(--grayA3);
    }

    &:hover .text-container,
    &:hover + & .text-container {
      border-color: transparent;
    }
  }
}
