.info {
  margin: 68px 0px 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.img-container {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}

.img {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: -18px;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.profile {
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 9999px;
}

#name {
  font-weight: 600;
}

#muted {
  color: var(--muted);
}
