.info {
  margin-bottom: var(--space5);
  display: flex;
  align-items: center;
  gap: var(--space2);
}

.img-container {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}

.img {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: -18px;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--space2);
}

.profile {
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 9999px;
}

.name {
  font-weight: 600;
}

.muted {
  color: var(--gray11);
}

.content {
  margin-top: 112px;
  margin-bottom: 60px;

  &>section>h1 {
    font-size: 16px;
    color: var(--gray11);
    margin-bottom: 20px;
  }
}

.subcontent {
  display: grid;
  gap: 20px;
  justify-content: space-around;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.subTitle {
  display: grid;
  text-decoration: underline;
  font-weight: 500;
  text-decoration-color: var(--gray10);
  text-decoration-thickness: 1px;
  line-height: 2.25rem;
}

.subDesc {
  color: var(--gray10);
}

@media only screen and (max-width: 640px) {
  .content {
    margin-top: 80px;
  }

  .subcontent {
    gap: 12px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
