.nav {
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding: var(--space3) var(--space2) 0;
  display: flex;
  justify-content: right;
}

.button {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 200ms ease, box-shadow 200ms ease;

  &:focus {
    box-shadow: 0 0 0 3px var(--grayA4);
    outline: none;
  }

  &:hover {
    background-color: var(--grayA4);
  }
}

.nav svg path {
  fill: var(--main-fg);
}
