.post > h1 {
  margin-bottom: var(--space3);
}

.post p {
  margin-top: var(--space2);
  margin-bottom: var(--space2);
}

.post h2 {
  margin-top: var(--space3);
  margin-bottom: var(--space2);
}

.post pre {
  padding: var(--space1);
  border: 1px solid var(--gray3);
  border-radius: 4px;
}
