.heading {
  font-size: 20px;
  font-weight: 600;
}

.list {
  margin: var(--space6) 0 0;
  list-style-type: none;
  padding: 0;
}

.li {
  padding: 14px var(--space2);
  border-radius: 8px;
  margin-right: calc(var(--space2) * -1);
  margin-left: calc(var(--space2) * -1);
  background: transparent;
  transition: background 150ms ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--grayA3);
    }
  }
}

.item {
  font-size: 14px;
  display: flex;
  gap: var(--space1);
  align-items: center;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  position: relative;
}

.name {
  font-weight: 500;
}

.line {
  position: relative;
  flex: 1 1 0%;

  &::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: -2px;
    z-index: 3;
    animation: 500ms ease 170ms forwards enter;
  }
}

.description {
  margin-left: 2px;
  color: var(--gray10);
  padding-left: var(--space1);
  font-weight: 400;
}

.year {
  color: var(--gray10);
}

@media only screen and (max-width: 640px) {
  .description {
    display: none;
  }
}

@keyframes enter {
  from {
    width: 0;
    background-color: var(--gray12);
    opacity: 0;
  }
  to {
    width: 100%;
    background-color: var(--grayA3);
    opacity: 1;
  }
}
