.heading {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: var(--space6);
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-right: calc(var(--space2) * -1);
  margin-left: calc(var(--space2) * -1);
  padding-right: var(--space2);
  padding-left: var(--space2);
  border-radius: 6px;
  background: transparent;
  transition: background 150ms ease;

  &:first-child .content {
    border: none;
  }

  & .content {
    border-top: 1px solid var(--grayA3);
  }
}

.content {
  padding-top: var(--space2);
  padding-bottom: var(--space2);
}

.description {
  color: var(--gray11);
}

@media (hover: hover) {
  .list-item {
    &:hover {
      background-color: var(--grayA3);
    }

    &:hover .content,
    &:hover + & .content {
      border-color: transparent;
    }
  }
}
